@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

input,
textarea,
select,
button {
  @apply outline-none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
